.stats {
    margin: 0 auto;
    width: 400px;
}

.list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding-left: 0;
}

.heading {
    color: rgb(168, 159, 159);
    text-align: center;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.label {
    color: aliceblue;
}
.percentage {
    color: aliceblue;
}